{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ? - FashionStore{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Qui sommes-nous ?</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Walide Ghazanfar</h5>
            <p class="card-text">Élève en B2 Développement à l'EFREI.</p>
            <p class="card-text">Ce projet a été réalisé dans le cadre de ma formation pour apprendre le framework Symfony.</p>
        </div>
    </div>
</div>
{% endblock %}
