{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="h4 mb-0">Modifier mes informations</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary w-100 mt-3">Enregistrer</button>
                    {{ form_end(form) }}
                    
                    <div class="mt-3 text-center">
                        <a href="{{ path('app_profile') }}" class="text-decoration-none">Retour au profil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
